<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div [class]="classeSumir">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let i of carousel" class="carousel-item {{ i.active }}">
      <img [src]="i.imagem" class="d-block w-100 img-carousel">
      <div class="carousel-caption bg-espelho border-effect-blur text-light rounded-pill" (mouseover)="sumir()" (mouseout)="aparecer()">
        <h2 class="fst-italic fw-bolder">{{ i.titulo }}</h2>
        <p class="fs-4">{{ i.subtitulo }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
