<div class="container-fluid p-0">
  <app-home-carousel></app-home-carousel>
</div>

<div class="container pt-3">
  <app-home-slides></app-home-slides>
</div>

<div class="container-fluid p-0 pt-3">
  <app-home-parallax></app-home-parallax>
</div>

<div class="container p-0 py-5">
  <app-home-cards></app-home-cards>
</div>
