.bg-navbar{
  background-color: #050842;
}

.bg-corpo{
  background-color: #032BA1;
}

.border-effect-blur:hover{
  box-shadow: 10px 10px 10px 5px black;
  transform: translate(-10px, -10px);
  transition: 500ms;
}

.border-effect-blur{
  transition: 700ms;
}

.bg-footer{
  background-color: #050842;
}
