<div class="pt-5 w-100">

  <h1 class="text-center text-light fst-italic fw-bolder">Veja mais de nossos produtos</h1>

</div>

<carousel>

  <div *ngFor="let i of slides;" class="carousel-cell">
    <a [href]="i.comprar" class="p-0 m-0">
      <img [src]="i.imagem" width="100%" class="img-carousel" focusable="false">
    </a>
  </div>

</carousel>
