<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-12 col-lg-4 text-center text-lg-start">
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <div class="col-12 col-lg-4 py-3 py-sm-5 p-lg-0 text-center logo">
      <a href="#">
        <img class="w-25" src="./../../..///assets/icons/logo.svg">
      </a>
    </div>

    <ul class="nav col-12 col-lg-4 justify-content-center justify-content-lg-end list-unstyled d-flex">
      <li class="ms-3 redes"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="./../../../assets/icons/svgs_footer.svg#twitter"/></svg></a></li>
      <li class="ms-3 redes"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="./../../../assets/icons/svgs_footer.svg#instagram"/></svg></a></li>
      <li class="ms-3 redes"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="./../../../assets/icons/svgs_footer.svg#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>
