<div class="collapse" id="navbarToggleExternalContent">
  <nav class="navbar navbar-expand-lg navbar-dark bg-navbar fs-3 ">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item ps-2 dropdown">
        <a class="nav-link active dropdown-toggle fst-italic" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Motos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Street</a></li>
          <li><a class="dropdown-item" href="#">Custom</a></li>
          <li><a class="dropdown-item" href="#">Trail</a></li>
          <li><a class="dropdown-item" href="#">Scooter</a></li>
          <li><a class="dropdown-item" href="#">Sport</a></li>
          <li><a class="dropdown-item" href="#">Touring</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Acompanhamento de pedidos</a></li>
        </ul>
      </li>
      <li class="nav-item ps-2">
        <a class="nav-link active" href="#">Serviços</a>
      </li>
      <li class="nav-item ps-2">
        <a class="nav-link active" href="#">Sobre nós</a>
      </li>
      <li class="nav-item mx-auto ps-2 on">
        <a class="nav-link active" href="#">
          <img src="./../../../assets/icons/person.svg" class="img-fluid d-block">
        </a>
      </li>
    </ul>
  </nav>
</div>
<nav class="navbar navbar-dark bg-navbar">
  <div class="container">
    <button (click)="rotacao()" [class]="classeRotacao" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand scale" href="#">
      <img src="./../../../assets/icons/logo.svg" class="logo img-fluid d-block">
    </a>
    <div class="navbar-brand scale off" href="#">
      <img src="./../../../assets/icons/person.svg" class="img-fluid d-block">
    </div>
  </div>
</nav>
