.logo{
  width: 100px;
  height: 70px;
}

.navbar-toggler{
  box-shadow: none;
}

.rotacao{
  transform: rotate(90deg);
  transition: 500ms;
}

.rotacao-voltar{
  transform: rotate(0deg);
  transition: 500ms;
}

.scale:hover{
  transform: scale(1.3);
  transition: 500ms;
}

.on{
  display: none;
}

@media (max-width: 285px){
  .off{
    display: none;
  }
  .on{
    display: block;
  }
}
