.bg-parallax{
  height: 600px;
  background-image: url("https://d1oa3togg7hmde.cloudfront.net/images/global/422/635/pirelli-moto-sp-riding-experience-racing-visore-dsk-2732x1260-4505522300195.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-espelho{
  background-color: rgba(38, 63, 201, 0.9);
}

.w-circle{
  width: 25%;
}

.ms-10{
  margin-left: 10%;
}

.ms-45{
  margin-left: 45%;
}

.btn {
  font-size: 25px;
}

@media (max-width: 1200px) {
  .w-circle{
    width: 80%;
  }

  .circle2{
    display: none;
  }
}
