<div class="w-100 bg-parallax d-flex">
  <div class="w-circle m-auto m-lg-0 my-lg-auto ms-lg-5 text-center text-light fst-italic bg-espelho p-5 rounded-circle border-effect-blur">
    <h1>Fale com um de nossos atendentes</h1>
    <a href="#">
      <button class="btn btn-primary w-50">
        Acesse aqui
      </button>
    </a>
  </div>
  <div class="w-circle circle2 ms-45 my-auto text-center text-light fst-italic bg-espelho p-5 rounded-circle border-effect-blur">
    <h1>Encontre o melhor consórcio para o seu bolso</h1>
    <a href="#">
      <button class="btn btn-primary w-50">
        Acesse aqui
      </button>
    </a>
  </div>
</div>
