<div class="row">
  <div *ngFor="let i of cards" class="col-lg-4 col-12 mx-auto pt-lg-0 pt-3">
    <div class="card bg-cards text-light p-4 scale-card">
      <img [src]="i.imagem">
      <div class="card-body">
        <h1 class="card-title fw-bold">{{ i.titulo }}</h1>
        <p class="card-text fst-italic fs-5">A partir de: <span class="fs-3 fst-normal fw-bold">R${{ i.valor }}</span></p>
        <div class="w-100 text-center">
          <a [href]="i.saibamais" class="btn btn-primary fs-2" role="button">Saiba Mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
